
extends ../layout
block content
  //- Create a flex container with centering
  div(class="d-flex flex-row content justify-content-center mx-auto")
    //- Create a form element with the post method and signin action
    form(class="card" method="post" action="/auth/signin")
      //- Card header for the "Connection" section
      div(class="card-header") Connection
      //- Card body
      div(class="card-body")
        //- Form field for the email
        div(class="mb-3")
          label Email
          input(class="form-control" type="email" name="email")
        //- Form field for the password
        div(class="mb-3")
          label Password
          input(class="form-control" type="password" name="password")
        //- Conditional rendering of errors
        if errors
          ul(class="my-2")
            //- Loop through and display errors
            each error in errors
              li(class="text-danger")= error
        //- Submit button
        div(class="w-100")
          input(type="submit" value="connection" class="btn btn-primary ms-auto d-block")
