//- Create a navigation bar with specified classes
nav(class="navbar navbar-expand-lg navbar-light bg-light")
  //- Create a link with the "navbar-brand" class and link to /tweets
  a(class="navbar-brand" href="/tweets")
    //- Insert an image with specified width and height
    img(width="30" height="30" src="/images/twitter.png")
  //- Create a button for toggling navigation
  button(class="navbar-toggler")
    //- Insert a span with the "navbar-toggler-icon" class
    span(class="navbar-toggler-icon")
  //- Create a collapsible navigation content container
  div(class="collapse navbar-collapse")
    //- Create an unordered list with navigation items on the right
    ul(class="navbar-nav ms-auto")
      //- Create a list item with "nav-item" and "active" classes
      li(class="nav-item active")
        //- Create a button link for tweeting
        a(class="btn btn-primary btn-tweet me-3" href="/tweets/new") Tweet
      //- Create a list item with "nav-item" class
      li(class="nav-item")
        //- Create a link for signing in
        a(class="nav-link" href="/auth/signin/form") Connection
      //- Create a list item with "nav-item" class
      li(class="nav-item")
        //- Create a link for user registration
        a(class="nav-link" href="/users/signup/form") registration
