nav(class="navbar navbar-expand-lg navbar-light bg-light")
  // This is the top navigation bar with a light background.

  a(class="navbar-brand" href="/tweets")
    // This is a link to the home page "tweets" which redirects to tweets.
    img(width="60" height="60" src="/images/twitter.png")
    // An image for branding, styled with a width and height.

  button(class="navbar-toggler")
    // This is a button used for toggling navigation on smaller screens.
    span(class="navbar-toggler-icon")
      // The icon that appears when the navigation is collapsed.

  div(class="collapse navbar-collapse")
    // This is a container for navigation items that will collapse on smaller screens.

    ul(class="navbar-nav ms-auto")
      // Unordered list used for navigation items, aligned to the right (ms-auto).

      li(class="nav-item active")
        // List item with an active class, indicating it's the current page.
        a(class="btn btn-primary btn-tweet me-3" href="/tweets/new") Tweet
          // A button-link for creating a new tweet.
      li(class="nav-item")
        // List item for another navigation option.
        a(class="nav-link" href="#") Connexion
          // A link for "Connexion".
