// Create a navigation bar with specific classes
nav(class="navbar navbar-expand-lg navbar-light bg-light")

  // Create a navigation bar brand link to the home page
  a(class="navbar-brand" href="/tweets")

    // Create an image for the brand logo
    img(width="30" height="30" src="/images/twitter.png")

  // Create a button for toggling the navigation bar on small screens
  button(class="navbar-toggler")

    // Create a span for the navigation bar toggler icon
    span(class="navbar-toggler-icon")

  // Create a collapsible navigation menu
  div(class="collapse navbar-collapse")

    // Create an unordered list for the navigation items
    ul(class="navbar-nav ms-auto")

      // Create a list item for the active nav item
      li(class="nav-item active")

        // Create a button for tweeting with specific styling
        a(class="btn btn-primary btn-tweet me-3" href="/tweets/new") Tweet

      // Create a list item for the "Connexion" link
      li(class="nav-item")

        // Create a link with the "nav-link" class
        a(class="nav-link") Connexion

      // Create a list item for the "Inscription" link
      li(class="nav-item")

        // Create a link with the "nav-link" class that points to the signup form
        a(class="nav-link" href="/users/signup/form") Inscription
