nav(class="navbar navbar-expand-lg navbar-light bg-light")
  // on redirige sur la home page tweets
  a(class="navbar-brand" href="/tweets")
    img(width="60" height="60" src="/images/twitter.png")
  button(class="navbar-toggler")
    span(class="navbar-toggler-icon")
  div(class="collapse navbar-collapse")
    ul(class="navbar-nav ms-auto")
      li(class="nav-item active")
        a(class="btn btn-primary btn-tweet me-3" href="/tweets/new") Tweet
      li(class="nav-item")
        a(class="nav-link" href="#") Connexion

// ce ci est le code pug pour ma top bar