// Create a navigation bar with Bootstrap classes
nav(class="navbar navbar-expand-lg navbar-light bg-light")
  // Create a link to the homepage with Twitter logo
  a(class="navbar-brand" href="/tweets")
    img(width="30" height="30" src="/images/twitter.png")
  // Create a button for toggling the navigation menu on small screens
  button(class="navbar-toggler")
    span(class="navbar-toggler-icon")
  // Create a div for the collapsible navigation menu
  div(class="collapse navbar-collapse")
    ul(class="navbar-nav ms-auto")
      // Check if the user is authenticated
      if isAuthenticated
        // If authenticated, show "Tweet" button and  logout link
        li(class="nav-item active")
          a(class="btn btn-primary btn-tweet me-3" href="/tweets/new") Tweet
        li(class="nav-item active")
          a(class="nav-link" href="/auth/signout") Logout
      else
        // If not authenticated, show login and  signup links
        li(class="nav-item")
          a(class="nav-link" href="/auth/signin/form") Login
        li(class="nav-item")
          a(class="nav-link" href="/users/signup/form") Signup
