/* Définit les styles pour le contenu principal de la page */
.content {
    max-width: 1000px; /* Largeur maximale du contenu */
    margin-top: 20px; /* Marge en haut du contenu */
}

/* Styles pour la section affichant le profil de l'utilisateur */
.profile-container {
    width: 30%; /* Largeur de la section */
    max-width: 300px; /* Largeur maximale de la section */
}

/* Styles pour le bouton "Tweet" */
.btn-tweet {
    border-radius: 30px; /* Bordure arrondie du bouton */
}

/* Styles pour les éléments avec la classe "b" */
.b {
    border: 1px solid red; /* Bordure de 1px en rouge */
}

/* Styles pour les éléments avec la classe "b1" */
.b1 {
    border: 1px solid green; /* Bordure de 1px en vert */
}

/* Styles pour les éléments de tweet */
.tweet-element {
    border-radius: 0px; /* Bordure sans arrondi */
    border-top: 0px; /* Bordure supérieure de 0px */
    font-size: 14px; /* Taille de police de 14px */
}

/* Styles pour le premier élément de tweet */
.tweet-element:first-child {
    border-top: 1px solid #ddd; /* Bordure supérieure de 1px en gris */
}
