/* Defines styles for the main content of the page */
.content {
    max-width: 1000px; /* Maximum width of the content */
    margin-top: 20px; /* Top margin of the content */
}

/* Styles for the section displaying the user's profile */
.profile-container {
    width: 30%; /* Width of the section */
    max-width: 300px; /* Maximum width of the section */
    color: #657786;
}

/* Styles for the "Tweet" button */
.btn-tweet {
    border-radius: 30px; /* Rounded button border */
}

/* Styles for elements with the class "b" */
.b {
    border: 1px solid red; /* 1px red border */
}

/* Styles for elements with the class "b1" */
.b1 {
    border: 1px solid green; /* 1px green border */
}

/* Navbar styles */
.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* Responsive image styles */
.img-fluid {
    max-height: 100px;
}

/* Body background color */
body {
    background-color: #f8f9fa;
}

/* Styles for elements with the class "tweet-element" */
.tweet-element {
    border-radius: 0px;
    font-size: 14px;
    border: 0px;
    border-bottom: 1px solid #ddd; 
}

/* Styles for the first child of an element with the class "tweet-element" */
.tweet-element:first-child {
    border-top: 1px solid #ddd; 
    border-bottom: 1px solid #ddd; 
}
