// Check if there are any tweets
if tweets

  // For each tweet in the list of tweets
  each tweet in tweets
  
    // Create a div with class "card tweet-element" to display each tweet
    div(class="card tweet-element")
    
      // Create a div with class "card-body" for the tweet content
      div(class="card-body")
      
        // Create a link with class "card-text" to display the tweet content, with a link to the tweet edit page
        a(class="card-text" href="/tweets/edit/" + tweet._id)= tweet.content
        
        // Create a button with class "btn btn-danger mt-2 float-right" to delete the tweet, with the tweet ID as a custom "tweetId" attribute
        button(class="btn btn-danger mt-2 float-right" tweetId=tweet._id) x