
extends ../layout.pug
// Étend le layout défini dans le fichier ../layout.pug

// Déclare un bloc de contenu spécifique à cette page
block content

  // Inclut un script JavaScript depuis le chemin /javascript/tweets/tweet.js
  script(src="/javascript/tweets/tweet.js")
  
  // Crée une division avec la classe "d-flex flex-row content mx-auto"
  div(class="d-flex flex-row content mx-auto") 
  
    // Crée une division avec la classe "profile-container" pour afficher le profil
    div(class="profile-container")
      // Inclut le contenu du fichier ../includes/profile.pug
      include ../includes/profile.pug
      
    // Crée une division avec les classes "flex-fill d-flex flex-column" pour afficher la liste de tweets
    div(class="flex-fill d-flex flex-column" id="tweet-list-container")
      // Inclut le contenu du fichier tweet-list.pug
      include tweet-list.pug
