//- Extend the layout from the parent directory
extends ../layout

//- Define the content block
block content
  //- Create a flex container with centering
  div(class="d-flex flex-row content justify-content-center mx-auto")
    //- Create a form element with the post method and signup action
    form(class="card w-50 mt-5" method="post" action="/users/signup")
      //- Card header for the "Inscription" section
      div(class="card-header") registration
      //- Card body
      div(class="card-body")
        //- Form field for the username
        div(class="mb-3")
          label Username
          input(class="form-control" type="text" name="username")
        //- Form field for the email
        div(class="mb-3")
          label Email
          input(class="form-control" type="email" name="email")
        //- Form field for the password
        div(class="mb-3")
          label Password
          input(class="form-control" type="password" name="password")
        //- Conditional rendering of errors
        if errors
          ul(class="my-2")
            //- Loop through and display errors
            each error in errors
              li(class="text-danger")= error
        //- Submit button
        div(class="w-100")
          input(type="submit" value="validate" class="btn btn-primary ms-auto d-block")

